<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoogleLogin</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:500" />
    <link rel="stylesheet" href="~/css/google-login.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
